.DS_Store
/**/node_modules/
/mm-demo/dist/

/electron-vue/node_modules/

/electron-vue-template-master/build/win-unpacked/
/electron-vue-template-master/build/win-ia32-unpacked/
/electron-vue-template-master/build/mac/
/electron-vue-template-master/build/*.dmg
/electron-vue-template-master/build/*.yml
/electron-vue-template-master/build/*.blockmap
/electron-vue-template-master/build/*.zip
/electron-vue-template-master/electron-vue-template-ts.7z
/electron-vue-template-master/build/builder-effective-config.yaml
/electron-vue-template-master/dist/electron/

/electron-vue-NoLayout/build/win-unpacked/
/electron-vue-NoLayout/build/win-ia32-unpacked/
/electron-vue-NoLayout/build/mac/
/electron-vue-NoLayout/build/*.dmg
/electron-vue-NoLayout/build/*.yml
/electron-vue-NoLayout/build/*.blockmap
/electron-vue-NoLayout/build/*.zip
/electron-vue-NoLayout/electron-vue-template-ts.7z
/electron-vue-NoLayout/build/builder-effective-config.yaml
/electron-vue-NoLayout/dist/electron/