.loading-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  .full-loading-mm {
    position: absolute;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    span {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #3498db;
      opacity: 0.5;
      border-radius: 20px;
      animation: mm 1s infinite ease-in-out;
    }
    span:nth-child(2) {
      left: 20px;
      animation-delay: 0.2s;
    }
    span:nth-child(3) {
      left: 40px;
      animation-delay: 0.4s;
    }
    span:nth-child(4) {
      left: 60px;
      animation-delay: 0.6s;
    }
    span:nth-child(5) {
      left: 80px;
      animation-delay: 0.8s;
    }
  }
}
@keyframes mm {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
    background: #f1c40f;
    box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
}
